<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>Users</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-button routerLink="/users/create">
		<ion-icon name="person-add"></ion-icon>
	</ion-button>

	<ion-list>
		<ion-list-header>
			<ion-label>List of Users</ion-label>
		</ion-list-header>

		<div *ngIf="users">
			<ion-item *ngFor="let user of users">
				<ion-label>{{user.name}}</ion-label>
			</ion-item>
		</div>
	</ion-list>
	<ion-button (click)="clear()" color="danger"> clear </ion-button>
</ion-content>
