<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Home </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
	<h1 class="ion-text-center">Welcome</h1>

	<div class="ion-padding">
		<ion-button routerLink="/login" expand="block"> Login </ion-button>
	</div>

	<ion-card *ngIf="title">
		<ion-card-header>
			<ion-card-title>{{title}}</ion-card-title>
		</ion-card-header>

		<ion-card-content *ngFor="let todo of todos">
			<ion-list>
				<ion-item>
					<ion-grid fixed>
						<ion-row>
							<ion-col size="6">{{todo.title}}</ion-col>
							<ion-col size="6">{{todo.description}}</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<div class="ion-padding">
		<ion-grid fixed>
			<ion-row>
				<ion-col size="6"
					><ion-button routerLink="/staff" expand="block" color="warning">
						Staff
					</ion-button></ion-col
				>
				<ion-col size="6"
					><ion-button routerLink="/users" expand="block" color="warning">
						Users
					</ion-button></ion-col
				>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
